*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight{
  min-height: 100%;
}

.btn1{
   margin-right: 10px;
}

.btn2{
   margin-left: 10px;
}

.photo {
   object-fit: cover;
}

.navbar{
  background-color: #EA7317
}

.login{
  object-fit: cover;
  background: #4F6D7A; 
}

.footer{
  height: 40px;
}

.footer2.{
  margin-bottom: 25px;
}